*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #2c2d2e;
}

header{
    width: 100%;
    text-align: center;
    padding-top: 16px;
    color: aliceblue;
    background-color: #9ea2a5;
    border-bottom: 1px solid #a5a5a5;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    
}

.header-tittle-container h1 {
    font-size: 4rem;
    font-weight: bold;
    
}

.header-tittle-container p{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 16px 24px;
}

.square-container{
    width: 90%;
    max-width: 800px;
    margin: 8px auto;
    position: relative;
    padding: 12px 16px;
    background-color: #fcb0dc;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.square-container .square-logo{
    position: absolute;
    width: 56px;
    top:-35px;
    right: 0px;
}

.square-container .square-subtittle{
    font-size: 2.4rem;
    width: 100%;
    color: aliceblue;
    margin-bottom: 24px;

}

.square-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.4rem;

}

.square-form label{
    font-weight: 500;
    color: #2c2d2e;
    
}

.square-form input{
    width: 64px;
    margin-bottom: 12px;
}

.buttons-container{
    width: 100%;
}

.buttons-container button{
    width: 130px;
    height: 36px;
    margin: 4px 4px;
    font-size: 1.2rem;
    font-weight: 500;
    color: aliceblue;
    background-color: #ff76ab;
    border-radius: 16px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
    

    
}